.top-bar {
    background-color: rgb(41, 41, 41);
    padding: 15px 0;
}

.top-bar-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin: 20 auto !important;
}

.contact-info {
    display: flex;
    gap: 20px;
    color: white;
}

.contact-info span {
    font-size: 15px;
}

.top-links {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.top-links a {
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}


.main-header {
    display: flex;
    gap: 30px;
    height: 80px;
    margin: 10px auto;
    align-items: center;
}

.logo {
    font-weight: 600;
    color: #fd861d;
    text-transform: uppercase;
}

.main-header p {
    font-size: 13.5px;
    font-weight: 500;
    margin-bottom: 0 !important;
}

.search-box {
    display: flex;
    flex: 1 1 400px;
    align-items: center;
}

.search-box input {
    flex: 1;
    padding: 5px 15px;
    height: 60%;
    box-sizing: border-box;
    border: 2px solid rgb(233, 233, 233);
    border-radius: 25px 0px 0px 25px;
}

.search-box input::placeholder {
    color: #9b9b9b;
    font-size: 14px;
}

.search-box input:focus {
    outline: none;
}

.button {
    padding: 7px 0;
    width: 13%;
    border-radius: 0px 25px 25px 0px;
    border: none;
    background-color: #ff9538;
}

.header-icons {
    display: flex;
    gap: 25px;
    align-items: center;
}

img,
svg {
    max-width: 100%;
    height: auto;
}

.fav {
    position: relative;
}

.fav-num {
    position: absolute;
    top: -5px;
    right: -5px;
    background: #fd861d;
    color: #fff;
    font-size: 12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media (max-width: 992px) {
    .top-bar-container {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    .contact-info {
        justify-content: center;
        flex-wrap: wrap;
    }

    .top-links {
        justify-content: center;
        gap: 15px;
        flex-wrap: wrap;
        text-align: center;
    }

    .main-header {
        flex-wrap: wrap;
        height: auto;
        justify-content: center;
        text-align: center;
        gap: 20px;
    }

    .search-box {
        flex: 1 1 100%;
        max-width: 400px;
        margin: 10px auto;
    }

    .header-icons {
        justify-content: center;
        gap: 15px;
    }
}

@media (max-width: 768px) {
    .contact-info {
        flex-direction: column;
        gap: 5px;
        align-items: center;
    }

    .top-links {
        gap: 10px;
        flex-wrap: wrap;
    }

    .search-box input {
        font-size: 13px;
        padding: 5px 10px;
    }

    .button {
        padding: 5px 0;
    }
}